head{
    padding: 25000mm;
}
img{
    width: 50%;
    max-width: 75%;
}
body{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: aquamarine;
    font-size: 75%;
    text-align: center;
}

p {
    margin-top: 0 auto;
    margin-left: 0 auto;
    margin-bottom: 0 auto;
    margin-right: 0 auto;
    color: blue;
    font-style: unset;
    
}

footer {
    text-align: center;
    font-size: large;
    color: orange;
}